<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    ​
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    ​
    <title>부트스트랩 첫걸음</title>
</head>

<body>

​
<div class="container">
    <div class="row">
        <div class="col-12">
            <form method="post" action="/drinks/search_detail">
                <!-- form태그를 정보 입력을 받을 수 있음. action에 쓴 주소로 입력받은 정보를 보냄. method에 post인지 get인지 작성 -->
                <div class="form-group">
                    <label for="input_drink_id">음료 ID</label>  {# label의 for값과 input의 id값이 같아야 한다 #}
                    <input type="number" class="form-control" id="input_drink_id" placeholder="입력 형식을 보여줌"
                           name="drink_id"> {# type에 따라 내용물이 달라짐. number는 숫자만 입력가능. 입력받는 정보의 이름을 name으로 정해줘야함 #}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <input type="hidden" value="기본값" readonly> {# hidden은 페이지 상에서는 보이지 않음. readonly하면 value로 설정된 기본값 못고침 #}

            </form>
        </div>
    </div>
</div>
​
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>