<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title> file upload</title>
</head>
<body>
<div class="container">
    <div class="row">
        <form method="POST" action="/face/tag_name">
            <div class="col-12" style="font-size: 3em;">이름을 입력하세요(이름을 모르면 비워두세요)</div>
            {% for person in your_face_info_list %}
            <div class="col-3">
                <img src="/face/face_{{ person['file_name'] }}.jpg" style="width: 220px;"/>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="input_name"></label>
                    <input type="text" class="form-control" id="input_name"
                           name="name_{{person['order']}}">
                </div>
            </div>
            <div class="col-6"></div>
            <input type="hidden" value="{{ person['shape'] }}" name="shape_{{person['order']}}"  readonly>
            {% endfor %}
            <input type="hidden" value="{{ unique_dummy_name }}" name="unique_dummy_name">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>